/* Visually hidden elements */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.why__subtitle::before, .services-prices__subtitle::before, .about__subtitle::before, .social-links__list::before, .hero__subtitle::before {
  margin-right: 20px;
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.why__subtitle, .services-prices__subtitle, .about__subtitle, .hero__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__title, .services-prices__title, .about__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
}

.why__subtitle, .services-prices__subtitle, .about__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
}

/* == BASIC PAGE STYLES == */
body {
  font-family: "Open Sans", sans-serif;
  color: #303030;
  background-color: #E5E5E5;
}

@media screen and (max-width: 767px) {
  section {
    margin-bottom: 84px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  section {
    margin-bottom: 100px;
  }
}

/* == GLOBAL STYLES RESET == */
/* headings and paragraphs */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* ul */
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* button */
.btn {
  cursor: pointer;
}

/* responsive images */
.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* a */
.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    padding: 0 31px;
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .container {
    padding: 0 39px;
    width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    padding: 0 215px;
    width: 1600px;
  }
}

/* === BUTTON STYLED LINKS === */
.btn-style-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 40px;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-style-link:hover, .btn-style-link:focus {
  background-color: #FF6C00;
}
.btn-style-link--about {
  color: #303030;
}
.btn-style-link--about:hover, .btn-style-link--about:focus {
  color: #FFFFFF;
}
.btn-style-link--prices {
  background-color: transparent;
}
.btn-style-link--prices:hover, .btn-style-link--prices:focus {
  background-color: #FF6C00;
}

/* === HEADER and HERO === */
.header-and-hero__container {
  position: relative;
  padding-top: 40px;
  display: grid;
}
@media screen and (max-width: 767px) {
  .header-and-hero__container {
    grid-template-columns: 70px 348px;
    grid-template-rows: 56px 484px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .header-and-hero__container {
    grid-template-columns: 90px 570px;
    grid-template-rows: 76px 564px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media screen and (min-width: 1600px) {
  .header-and-hero__container {
    grid-template-columns: 70px 1070px;
    grid-template-rows: 48px 592px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .header-and-hero__sidebar {
    grid-row: 1/3;
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header-and-hero__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .header-and-hero__header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .header-and-hero__hero {
    grid-column: 1/3;
  }
}
.header-and-hero__slider-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 580px;
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .header-and-hero__slider-container {
    left: 159px;
    width: 570px;
    height: 680px;
  }
}
@media screen and (min-width: 1600px) {
  .header-and-hero__slider-container {
    left: 315px;
    width: 1070px;
    height: 680px;
  }
}
.header-and-hero__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .header-and-hero__img {
    width: 570px;
    height: 680px;
  }
}
@media screen and (min-width: 1600px) {
  .header-and-hero__img {
    width: 1070px;
    height: 680px;
  }
}

/* === SIDEBAR === */
.sidebar {
  z-index: 3;
}

/* === HEADER === */
.header {
  z-index: 3;
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 333px 160px;
    grid-template-rows: 40px 16px;
    -webkit-column-gap: 37px;
       -moz-column-gap: 37px;
            column-gap: 37px;
    row-gap: 20px;
  }
}
@media screen and (min-width: 1600px) {
  .header {
    padding-left: 100px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 375px 321px;
    grid-template-rows: 48px;
    -webkit-column-gap: 254px;
       -moz-column-gap: 254px;
            column-gap: 254px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .header__nav {
    grid-column: 1;
    grid-row: 1;
  }
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .header__menu-item:not(:last-child) {
    margin-right: 16px;
  }
}
@media screen and (min-width: 1600px) {
  .header__menu-item:not(:last-child) {
    margin-right: 30px;
  }
}
.header__menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__menu-link:hover, .header__menu-link:focus {
  color: #FF6C00;
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .header__wrap {
    grid-column: 2;
    grid-row: 1/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media screen and (min-width: 1600px) {
  .header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__contact {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact:hover, .header__contact:focus {
  color: #FF6C00;
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .header__booking {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .header__nav, .header__contact, .header__booking {
    display: none;
  }
}

/* === HERO ELEMENTS === */
.hero {
  padding-top: 112px;
  z-index: 3;
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .hero {
    padding-left: 120px;
    padding-top: 156px;
    height: 400px;
  }
}
@media screen and (min-width: 1600px) {
  .hero {
    padding-left: 100px;
    padding-top: 184px;
    width: 900px;
  }
}
.hero__title {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
@media screen and (min-width: 1600px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.1805555556;
  }
}
.hero__subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
@media screen and (max-width: 767px) {
  .hero__subtitle {
    letter-spacing: 0.1em;
  }
}
.hero__subtitle::before {
  background-color: rgba(157, 164, 189, 0.6);
}
.hero__text {
  width: 336px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .hero__text {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .hero__text {
    width: 357px;
    font-size: 18px;
    line-height: 1.6666666667;
  }
}

/* === SLIDER ELEMENTS === */
.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 10px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 2px;
  background-color: #9DA4BD;
}
.swiper-pagination-bullet:not(:last-child) {
  margin-bottom: 12px;
}

.swiper-pagination-bullet-active {
  width: 18px;
  height: 2px;
  background-color: #FFFFFF;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  z-index: 999;
  top: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  --swiper-navigation-size: 39px;
  color: rgba(157, 164, 189, 0.6);
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.swiper-button-prev:hover, .swiper-button-prev:focus,
.swiper-button-next:hover,
.swiper-button-next:focus {
  color: #FFFFFF;
}
.swiper-button-prev:hover::after, .swiper-button-prev:focus::after,
.swiper-button-next:hover::after,
.swiper-button-next:focus::after {
  background-color: #FFFFFF;
}

.swiper-button-prev {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  left: 906px;
  text-align: left;
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .swiper-button-prev {
    left: 404px;
  }
}

.swiper-button-next {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  right: 20px;
  text-align: right;
}

/* === MOBILE MENU === */
/* Open button for mobile menu */
.menu-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle__icon {
  -webkit-transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover .menu-toggle__icon {
  fill: #FF6C00;
}

/* === LOGO === */
.logo {
  z-index: 3;
  display: inline-block;
}
.logo-icon {
  fill: #FFFFFF;
  -webkit-transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .logo-icon {
    fill: #303030;
  }
}
.logo:hover .logo-icon, .logo:focus .logo-icon {
  fill: #FF6C00;
}

/* === BARBER SHOP SOCIAL LINKS === */
.social-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-90deg) translateX(126px);
          transform: rotate(-90deg) translateX(126px);
}
@media screen and (max-width: 767px) {
  .social-links__list {
    display: none;
  }
}
.social-links__list::before {
  margin-right: 40px;
}
.social-links__item:not(:last-child) {
  margin-right: 40px;
}
.social-links__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:hover, .social-links__link:focus {
  color: #FF6C00;
}

/* === ABOUT === */
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .about__list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .about__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
@media screen and (min-width: 1600px) {
  .about__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.about__item:not(:last-child) {
  margin-right: 30px;
}
@media screen and (min-width: 1600px) {
  .about__img {
    width: 270px;
    height: 445px;
  }
}
@media screen and (min-width: 1600px) {
  .about__text-wrap {
    width: 470px;
  }
}
.about__title, .about__subtitle {
  margin-bottom: 20px;
}
.about__title {
  width: 306px;
}
@media screen and (min-width: 480px) and (max-width: 1599px) {
  .about__title {
    font-size: 28px;
    line-height: 1.1785714286;
  }
}
@media screen and (min-width: 1600px) {
  .about__title {
    width: 470px;
  }
}
.about__text:nth-child(3) {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (min-width: 768px) {
  .about__text:nth-child(3) {
    font-size: 18px;
    line-height: 1.6666666667;
  }
}
.about__text:nth-child(4) {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.8571428571;
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .about__text:nth-child(4) {
    margin-bottom: 77px;
  }
}
@media screen and (min-width: 1600px) {
  .about__text:nth-child(4) {
    margin-bottom: 42px;
  }
}

/* === SERVICES AND PRICES === */
.services-prices {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/mobile/webp/480/services-480.webp);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .services-prices {
    background-image: url(../img/mobile/webp/960/services-@2x-960.webp);
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .services-prices {
    background-image: url(../img/tablet/webp/768/services-768.webp);
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1599px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1599px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1599px) and (min-resolution: 2dppx) {
  .services-prices {
    background-image: url(../img/tablet/webp/1536/services-@2x-1536.webp);
  }
}
@media screen and (min-width: 1600px) {
  .services-prices {
    background-image: url(../img/desktop/webp/1600/services-1600.webp);
  }
}
@media screen and (min-width: 1600px) and (min-device-pixel-ratio: 2), screen and (min-width: 1600px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1600px) and (min-resolution: 192dpi), screen and (min-width: 1600px) and (min-resolution: 2dppx) {
  .services-prices {
    background-image: url(../img/desktop/webp/3200/services-@2x-3200.webp);
  }
}
.services-prices__container {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .services-prices__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1600px) {
  .services-prices__container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.services-prices__title {
  margin-bottom: 44px;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .services-prices__title {
    font-size: 40px;
    line-height: 1.175;
  }
}
.services-prices__subtitle {
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}
.services-prices__subtitle::before {
  background-color: rgba(157, 164, 189, 0.6);
}
.services-prices__block {
  margin-bottom: 44px;
  display: grid;
}
@media screen and (max-width: 767px) {
  .services-prices__block {
    padding: 30px 20px 30px 40px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1599px) {
  .services-prices__block {
    background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .services-prices__block {
    padding: 32px 27px 32px 40px;
  }
}
@media screen and (min-width: 1600px) {
  .services-prices__block {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
.services-prices__list {
  display: grid;
  row-gap: 20px;
}
@media screen and (min-width: 480px) and (max-width: 1599px) {
  .services-prices__list:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1600px) {
  .services-prices__list {
    padding: 30px 22px 30px 20px;
  }
  .services-prices__list:not(:last-child) {
    background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .services-prices__list:last-child {
    background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}
.services-prices__item {
  display: grid;
  grid-template-columns: minmax(auto, 266px) minmax(88px, auto);
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .services-prices__item {
    grid-template-columns: minmax(auto, 496px) minmax(115px, auto);
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
  }
}
@media screen and (min-width: 1600px) {
  .services-prices__item {
    grid-template-columns: minmax(auto, 404px) minmax(112px, auto);
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
  }
}
.services-prices__service, .services-prices__price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
@media screen and (min-width: 768px) {
  .services-prices__service, .services-prices__price {
    font-size: 18px;
    line-height: 1.6666666667;
  }
}
.services-prices__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.services-prices__service::after {
  margin-left: 4px;
  content: "";
  display: block;
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #9DA4BD;
}
@media screen and (min-width: 768px) {
  .services-prices__service::after {
    margin-left: 12px;
  }
}
.services-prices__btn {
  margin-left: auto;
  margin-right: auto;
}

/* === WHY === */
.why {
  outline: 1px solid blue;
}
.why__container {
  outline: 1px solid crimson;
}
.why__title {
  margin-bottom: 44px;
  letter-spacing: 0.03em;
}
.why__title-rotate {
  display: inline-block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.why__subtitle {
  margin-bottom: 20px;
}
.why__subtitle::before {
  background-color: #303030;
}
.why__text {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #555555;
}/*# sourceMappingURL=main.css.map */