/* === ABOUT === */
.about {
  &__container {
    display: flex;
    gap: 30px;

    @include only-desktop {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

  &__list {
    @include less-then-tablet {
      display: none;
    }

    display: flex;

    @include only-tablet {
      flex-direction: column;
      gap: 30px;
    }

    @include only-desktop {
      flex-direction: row;
    }
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__img {
    @include only-desktop {
      width: 270px;
      height: 445px;
    }
  }

  &__text-wrap {
    @include only-desktop {
      width: 470px;
    }
  }

  &__title,
  &__subtitle {
    margin-bottom: 20px;
  }

  &__title {
    width: 306px;

    @extend %section-title;

    @include mobile-and-tablet {
      font-size: 28px;
      line-height: calc(33 / 28);
    }

    @include only-desktop {
      width: 470px;
    }
  }

  &__subtitle {
    @extend %line-position;
    @extend %section-subtitle;
        
    &::before {
      @extend %line;
    }
  }

  &__text:nth-child(3) {
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.02em;
    color: $secondaryTextColor;

    @include tablet-and-desktop {
      font-size: 18px;
      line-height: calc(30 / 18);
    }
  }

  &__text:nth-child(4) {
    margin-bottom: 40px;

    font-size: 14px;
    line-height: calc(26 / 14);

    @include only-tablet {
      margin-bottom: 77px;
    }

    @include only-desktop {
      margin-bottom: 42px;
    }
  }
}
