/* === BOOKING === */
.booking {
  background-color: $darkBgColor;

  &__container {
    padding-top: 84px;
    padding-bottom: 84px;

    @include only-tablet {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  &__title {
    margin-bottom: 44px;

    @extend %section-title;
    color: $mainLightTextColor;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 24px) 76px 40px;
    row-gap: 44px;

    @include only-tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 24px 76px 40px;
        column-gap: 30px;
    }
  }

  &__form-field {
    // margin-bottom: 44px;
    position: relative;
    width: 100%;
    height: 100%;

    &:nth-child(3) {
        grid-column: 1 / 3;
    }
  }

//   &__form-field:nth-child(-n + 2) {
//     height: 24px;
//   }

//   &__form-field:nth-child(3) {
//     height: 76px;
//   }

  //   &__label {
  //     position: absolute;
  //     top: -24px;

  //     font-weight: 600;
  //     font-size: 11px;
  //     line-height: calc(15 / 11);
  //     letter-spacing: 0.1em;
  //     text-transform: uppercase;

  //     color: rgba(157, 164, 189, 0.4);
  //     opacity: 0;
  //   }

  &__form-input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    color: $mainLightTextColor;

    &:last-child {
      resize: none;
    }

    &::placeholder {
      font-weight: 600;
      font-size: 11px;
      line-height: calc(15 / 11);
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: rgba(157, 164, 189, 0.4);
    }
  }

  &__form-field:focus-within &__form-input {
    border-bottom: 1px solid $mainLightTextColor;
    outline: none;
  }

  &__submit {
    margin-left: auto;
    margin-right: auto;

    @include only-tablet {
        margin-left: 0;
    }
  }
}
