/* === BOOKING AND CONTACTS === */
.booking-and-contacts {
  margin-bottom: 0;
  background-color: $darkBgColor;

  &__container {
    display: flex;

    @include less-then-desktop {
      flex-direction: column;
    }

    @include only-desktop {
      padding-right: 0;
    }
  }

  &__booking {
    @include only-desktop {
      width: 600px;
    }
  }

  &__contacts {
    @include only-desktop {
      width: 785px;
    }
  }
}
