/* === HEADER === */
.header {
  z-index: 3;

  @include only-tablet {
    padding-left: 20px;
    padding-right: 20px;

    display: grid;
    grid-template-columns: 333px 160px;
    grid-template-rows: 40px 16px;
    column-gap: 37px;
    row-gap: 20px;
  }

  @include only-desktop {
    padding-left: 100px;
    padding-right: 20px;

    display: grid;
    grid-template-columns: 375px 321px;
    grid-template-rows: 48px;
    column-gap: 254px;
  }

  &__nav {
    @include only-tablet {
      grid-column: 1;
      grid-row: 1;
    }
  }

  &__menu-list {
    display: flex;
  }

  &__menu-item:not(:last-child) {
    @include only-tablet {
      margin-right: 15px;
    }

    @include only-desktop {
      margin-right: 28px;
    }
  }

  &__menu-link {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.1em;

    color: $mainLightTextColor;

    @include myTransition(color);

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }

  &__wrap {
    @include only-tablet {
      grid-column: 2;
      grid-row: 1 / 3;

      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
    }

    @include only-desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__contact {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $mainLightTextColor;
    @include myTransition(color);

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }

  &__booking {
    @include only-tablet {
      margin-bottom: 20px;
    }
  }

  // Elements not shown on mobile screens
  &__nav,
  &__contact,
  &__booking {
    @include less-then-tablet {
      display: none;
    }
  }
}
