/* === HEADER and HERO === */

.header-and-hero {
  &__container {
    position: relative;
    padding-top: 40px;
    display: grid;

    @include less-then-tablet {
      grid-template-columns: 70px minmax(auto, 348px);
      grid-template-rows: 56px 484px;
    }

    @include only-tablet {
      grid-template-columns: 90px 570px;
      grid-template-rows: 76px 564px;
      column-gap: 30px;
    }

    @include only-desktop {
      grid-template-columns: 70px 1070px;
      grid-template-rows: 48px 592px;
      column-gap: 30px;
    }
  }

  &__sidebar {
    @include tablet-and-desktop {
      grid-row: 1 / 3;

      padding-bottom: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include only-tablet {
      justify-content: space-between;
    }
  }

  &__hero {
    @include less-then-tablet {
      grid-column: 1 / 3;
    }
  }

  &__slider-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 480px;
    height: 580px;

    @include only-tablet {
      left: 159px;
      width: 570px;
      height: 680px;
    }

    @include only-desktop {
      left: 315px;
      width: 1070px;
      height: 680px;
    }
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  &__img {
    @include only-tablet {
      width: 570px;
      height: 680px;
    }

    @include only-desktop {
      width: 1070px;
      height: 680px;
    }
  }
}
