/* === LOGO === */
.logo {
  z-index: 3;
  display: inline-block;

  &-icon {
    fill: $mainLightTextColor;

    @include tablet-and-desktop {
      fill: $mainTextColor;
    }

    @include myTransition(fill);
  }

  &:hover &-icon,
  &:focus &-icon {
    fill: $accentColor;
  }
}
