@import './header-and-hero';
@import './sidebar';
@import './header';
@import './hero';
@import './slider';
@import './mobile-menu';
@import './logo';
@import './social-links';
@import './about';
@import './services-prices';
@import './why';
@import './barbers';