/* === PORTFOLIO === */
.portfolio {
  &__container {
    @include only-desktop {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

  &__subtitle {
    margin-bottom: 71px;

    @extend %line-position;
    @extend %section-subtitle;

    @include tablet-and-desktop {
      margin-bottom: 44px;
    }

    &::before {
      @extend %line;

      background-color: $mainTextColor;
    }
  }

  &__list {
    display: grid;

    @include less-then-tablet {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }

    @include only-tablet {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      row-gap: 30px;
    }

    @include only-desktop {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 30px;
    }
  }

  &__item {
    overflow: hidden;
    width: 100%;
    height: 100%;    
  }  

  &__img {
    @include myTransition(transform);
    width: 100%;
  }

  &__item:hover &__img {
    transform: scale(1.3);
  }
}
