/* === BARBER SHOP SOCIAL LINKS === */
.social-links {
  &__list {
    display: flex;
    align-items: center;        

    &::before {
      @extend %line;
      margin-right: 40px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.2em;

    color: $mainTextColor;
    @include myTransition(color);

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}

/* === BARBER SOCIAL LINKS === */
.barber-social-links {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $baseBgColor;
  }

  &__icon {
    @include myTransition(fill);
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $accentColor;
  }
}
