/* === WHY === */
.why {
  outline: 1px solid blue;

  &__container {
    outline: 1px solid crimson;

    @include only-desktop {
      padding: 120px 215px;
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__text-wrap {
    @include only-desktop {
      width: 570px;
    }
  }

  &__title {
    margin-bottom: 20px;

    @extend %section-title;
    letter-spacing: 0.03em;

    &-rotate {
      display: inline-block;
      transform: rotate(180deg);
    }
  }

  &__subtitle {
    margin-bottom: 20px;

    @extend %line-position;
    @extend %section-subtitle;

    &::before {
      @extend %line;

      background-color: $mainTextColor;
    }
  }

  &__text {
    margin-bottom: 44px;

    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;

    color: $secondaryTextColor;

    @include only-tablet {
      width: 500px;
    }
  }

  &__list {
    height: 326px;

    display: flex;
    flex-wrap: wrap;

    @include only-tablet {
      margin-left: 240px;
    }

    @include only-desktop {
      margin-left: 100px;
      margin-right: 130px;
    }
  }

  &__item {
    width: 194px;
    height: 133px;
    background-color: $secondaryBgColor;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include only-tablet {
      width: 210px;
    }

    @include only-desktop {
      width: 170px;
    }

    &:nth-child(2n + 1) {
      margin-bottom: 30px;
      margin-right: 30px;
    }

    &:nth-child(2n) {
      align-self: flex-end;
    }
  }

  &__feature {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-align: center;
  }

  &__number {
    margin-bottom: 6px;

    display: flex;

    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    text-align: center;
    letter-spacing: 0.05em;
  }

  &__plus {
    font-weight: 600;
    font-size: 16px;
    line-height: calc(22 / 16);
    text-align: center;

    color: $accentColor;
  }
}
