/* == BASIC PAGE STYLES == */

body {
  font-family: $mainFont;
  color: $mainTextColor;
  background-color: $baseBgColor;  
  
}

section {
  @include less-then-tablet {
 margin-bottom: 84px;
  }

  @include only-tablet {
    margin-bottom: 100px;
  }
 
}
