// === Variables ===

// Fonts
$mainFont: "Open Sans", sans-serif;
$secondaryFont: "Raleway", sans-serif;

// Text colors
$mainTextColor: #303030;
$secondaryTextColor: #555555;
$mainLightTextColor: #FFFFFF;
$secondaryLightTextColor: #9DA4BD;
$disabledTextColor: #9da4bd66;
$thirdLightTextColor: #9da4bd99;
$accentColor: #FF6C00;

// Background colors
$mainBgColor: #E5E5E5;
$secondaryBgColor: #F7F7F7;
$darkBgColor: #191C26;
$mobileMenuBgColor: #FFFFFF;
$bgGradientColor: #111319;

// Border colors


// Breakpoints
$minMobile: 480px;
$minTablet: 768px;
$minDesktop: 1600px;

// Transitions
$transitionFunction: cubic-bezier(0.4, 0, 0.2, 1);
$transitionTime: 500ms;

// $myColorTransition: color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
// $myBgColorTransition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
// $myFillTransition: fill 1000ms cubic-bezier(0.4, 0, 0.2, 1);
// $myTransformTransition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

// Other variables
