// === Variables ===

// Fonts
$mainFont: "Open Sans", sans-serif;
$secondaryFont: "Raleway", sans-serif;

// Text colors
$mainTextColor: #303030;

// Background colors
$mainBgColor: #E5E5E5;

// Border colors


// Breakpoints
$minMobile: 480px;
$minTablet: 768px;
$minDesktop: 1200px;